### Install required packages

!pip install yfinance

!pip install pandas-datareader

#### Import dependencies

In [2]:
from pandas_datareader import data
import yfinance
import pandas as pd

In [3]:
yfinance.pdr_override()

In [69]:
Apple_df=data.get_data_yahoo("AAPL",start="2023-01-01", end="2023-12-31")
display(Apple_df.head())
display(Apple_df.tail())

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.374802,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.657639,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.325081,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.899521,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.426559,70790800

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-12-22,195.179993,195.410004,192.970001,193.600006,193.600006,37122800
2023-12-26,193.610001,193.889999,192.830002,193.050003,193.050003,28919300
2023-12-27,192.490005,193.500000,191.089996,193.149994,193.149994,48087700
2023-12-28,194.139999,194.660004,193.169998,193.580002,193.580002,34049900
2023-12-29,193.899994,194.399994,191.729996,192.529999,192.529999,42628800

In [70]:
Apple_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.374802,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.657639,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.325081,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.899521,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.426559,70790800
...,...,...,...,...,...,...
2023-12-22,195.179993,195.410004,192.970001,193.600006,193.600006,37122800
2023-12-26,193.610001,193.889999,192.830002,193.050003,193.050003,28919300
2023-12-27,192.490005,193.500000,191.089996,193.149994,193.149994,48087700
2023-12-28,194.139999,194.660004,193.169998,193.580002,193.580002,34049900
2023-12-29,193.899994,194.399994,191.729996,192.529999,192.529999,42628800

In [71]:
Apple_volume=Apple_df[["Adj Close","Volume"]]
Apple_volume["stock_id"]="AAPL"
Apple_volume.reset_index(inplace=True)
Apple_volume=Apple_volume[["Date","stock_id","Adj Close","Volume"]]
Apple_volume

C:\Users\manal\AppData\Local\Temp\ipykernel_21188\3404121778.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Apple_volume["stock_id"]="AAPL"

          Date stock_id   Adj Close     Volume
0   2023-01-03     AAPL  124.374802  112117500
1   2023-01-04     AAPL  125.657639   89113600
2   2023-01-05     AAPL  124.325081   80962700
3   2023-01-06     AAPL  128.899521   87754700
4   2023-01-09     AAPL  129.426559   70790800
..         ...      ...         ...        ...
245 2023-12-22     AAPL  193.600006   37122800
246 2023-12-26     AAPL  193.050003   28919300
247 2023-12-27     AAPL  193.149994   48087700
248 2023-12-28     AAPL  193.580002   34049900
249 2023-12-29     AAPL  192.529999   42628800

[250 rows x 4 columns]

In [7]:
Apple_df.drop(columns=["Adj Close","Volume"],inplace=True)
Apple_df.head()

                  Open        High         Low       Close
Date
2023-01-03  130.279999  130.899994  124.169998  125.070000
2023-01-04  126.889999  128.660004  125.080002  126.360001
2023-01-05  127.129997  127.769997  124.760002  125.019997
2023-01-06  126.010002  130.289993  124.889999  129.619995
2023-01-09  130.470001  133.410004  129.889999  130.149994

In [8]:
Apple_df["Percentage_change"]=Apple_df["Close"].pct_change()

In [9]:
Apple_df.reset_index(inplace=True)

In [10]:
Apple_df["month"]=Apple_df["Date"].dt.month

In [11]:
Apple_df["normalization"]=Apple_df["Close"]/125.07
Apple_df["stock_id"]="AAPL"

In [ ]:
Apple_df["Accumulation"]=(Apple_df["Percentage_change"]+1).cumprod()

In [25]:
Apple_df=Apple_df[["Date","stock_id","Open","High","Low","Close","month","normalization","Percentage_change","Accumulation"]]

In [26]:
Apple_df

,Date,stock_id,Open,High,Low,Close,month,normalization,Percentage_change,Accumulation
0,2023-01-03,AAPL,130.279999,130.899994,124.169998,125.070000,1,1.000000,NaN,NaN
1,2023-01-04,AAPL,126.889999,128.660004,125.080002,126.360001,1,1.010314,0.010314,1.010314
2,2023-01-05,AAPL,127.129997,127.769997,124.760002,125.019997,1,0.999600,-0.010605,0.999600
3,2023-01-06,AAPL,126.010002,130.289993,124.889999,129.619995,1,1.036380,0.036794,1.036380
4,2023-01-09,AAPL,130.470001,133.410004,129.889999,130.149994,1,1.040617,0.004089,1.040617
...,...,...,...,...,...,...,...,...,...,...
245,2023-12-22,AAPL,195.179993,195.410004,192.970001,193.600006,12,1.547933,-0.005547,1.547933
246,2023-12-26,AAPL,193.610001,193.889999,192.830002,193.050003,12,1.543536,-0.002841,1.543536
247,2023-12-27,AAPL,192.490005,193.500000,191.089996,193.149994,12,1.544335,0.000518,1.544335
248,2023-12-28,AAPL,194.139999,194.660004,193.169998,193.580002,12,1.547773,0.002226,1.547773
249,2023-12-29,AAPL,193.899994,194.399994,191.729996,192.529999,12,1.539378,-0.005424,1.539378

In [23]:
Apple_df["Accumulation"]=(Apple_df["Percentage_change"]+1).cumprod()

C:\Users\manal\AppData\Local\Temp\ipykernel_21188\681039402.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Apple_df["Accumulation"]=(Apple_df["Percentage_change"]+1).cumprod()

### After reviewing Apple Stock Data, create a function for other stocks

In [63]:
def stock_to_frame(Ticker, start="2023-01-01",end="2023-12-31"):
    """this is a function take a parameter ticker and return two dataframes for that stock
       , the two dataframes are saved in the list, list[0]is the price dataframe, list[1] is 
       the volume dataframe. 
    """
    temp_df=data.get_data_yahoo(Ticker,start=start, end=end)
    volume=temp_df[["Adj Close","Volume"]]
    volume["stock_id"]=Ticker
    volume.reset_index(inplace=True)
    volume=volume[["Date","stock_id","Adj Close","Volume"]]
    temp_df.drop(columns=["Adj Close","Volume"],inplace=True)
    temp_df["Percentage_change"]=temp_df["Close"].pct_change()
    temp_df.reset_index(inplace=True)
    temp_df["month"]=temp_df["Date"].dt.month
    temp_df["normalization"]=temp_df["Close"]/temp_df["Close"][0]
    temp_df["stock_id"]=Ticker
    temp_df["Accumulation"]=(temp_df["Percentage_change"]+1).cumprod()
    temp_df=temp_df[["Date","stock_id","Open","High","Low","Close","month","normalization","Percentage_change","Accumulation"]]
    
    return temp_df,volume

In [64]:
Google_df=stock_to_frame("GOOGL")

[*********************100%%**********************]  1 of 1 completed

C:\Users\manal\AppData\Local\Temp\ipykernel_21188\1235690449.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  volume["stock_id"]=Ticker

In [65]:
Google_df[0]

,Date,stock_id,Open,High,Low,Close,month,normalization,Percentage_change,Accumulation
0,2023-01-03,GOOGL,89.589996,91.050003,88.519997,89.120003,1,1.000000,NaN,NaN
1,2023-01-04,GOOGL,90.349998,90.650002,87.269997,88.080002,1,0.988330,-0.011670,0.988330
2,2023-01-05,GOOGL,87.470001,87.570000,85.900002,86.199997,1,0.967235,-0.021344,0.967235
3,2023-01-06,GOOGL,86.790001,87.690002,84.860001,87.339996,1,0.980027,0.013225,0.980027
4,2023-01-09,GOOGL,88.360001,90.050003,87.860001,88.019997,1,0.987657,0.007786,0.987657
...,...,...,...,...,...,...,...,...,...,...
245,2023-12-22,GOOGL,140.770004,141.990005,140.710007,141.490005,12,1.587635,0.007620,1.587635
246,2023-12-26,GOOGL,141.589996,142.679993,141.190002,141.520004,12,1.587971,0.000212,1.587971
247,2023-12-27,GOOGL,141.589996,142.080002,139.889999,140.369995,12,1.575067,-0.008126,1.575067
248,2023-12-28,GOOGL,140.779999,141.139999,139.750000,140.229996,12,1.573496,-0.000997,1.573496
249,2023-12-29,GOOGL,139.630005,140.360001,138.779999,139.690002,12,1.567437,-0.003851,1.567437

In [66]:
Google_df[1]

          Date stock_id   Adj Close    Volume
0   2023-01-03    GOOGL   89.120003  28131200
1   2023-01-04    GOOGL   88.080002  34854800
2   2023-01-05    GOOGL   86.199997  27194400
3   2023-01-06    GOOGL   87.339996  41381500
4   2023-01-09    GOOGL   88.019997  29003900
..         ...      ...         ...       ...
245 2023-12-22    GOOGL  141.490005  26514600
246 2023-12-26    GOOGL  141.520004  16780300
247 2023-12-27    GOOGL  140.369995  19628600
248 2023-12-28    GOOGL  140.229996  16045700
249 2023-12-29    GOOGL  139.690002  18727200

[250 rows x 4 columns]

In [67]:
Intel_df=stock_to_frame("INTC")

[*********************100%%**********************]  1 of 1 completed

C:\Users\manal\AppData\Local\Temp\ipykernel_21188\1235690449.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  volume["stock_id"]=Ticker

In [60]:
Intel_df[0]

,Date,stock_id,Open,High,Low,Close,month,normalization,Percentage_change,Accumulation
0,2023-01-03,INTC,27.049999,27.070000,26.370001,26.730000,1,1.000000,NaN,NaN
1,2023-01-04,INTC,27.410000,27.920000,27.160000,27.680000,1,1.035541,0.035541,1.035541
2,2023-01-05,INTC,27.440001,27.780001,27.379999,27.559999,1,1.031051,-0.004335,1.031051
3,2023-01-06,INTC,27.930000,28.830000,27.379999,28.730000,1,1.074822,0.042453,1.074822
4,2023-01-09,INTC,28.840000,29.870001,28.840000,29.309999,1,1.096521,0.020188,1.096521
...,...,...,...,...,...,...,...,...,...,...
245,2023-12-22,INTC,47.250000,48.160000,47.200001,48.000000,12,1.795735,0.019541,1.795735
246,2023-12-26,INTC,48.919998,50.520000,48.709999,50.500000,12,1.889263,0.052083,1.889263
247,2023-12-27,INTC,50.630001,51.279999,50.189999,50.759998,12,1.898990,0.005148,1.898990
248,2023-12-28,INTC,50.810001,50.869999,50.160000,50.389999,12,1.885148,-0.007289,1.885148
249,2023-12-29,INTC,50.299999,50.570000,49.770000,50.250000,12,1.879910,-0.002778,1.879910

In [57]:
Microsoft_df=stock_to_frame("MSFT")

[*********************100%%**********************]  1 of 1 completed

C:\Users\manal\AppData\Local\Temp\ipykernel_21188\2502114678.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  volume["stock_id"]=Ticker

In [61]:
Microsoft_df[0]

,Date,stock_id,Open,High,Low,Close,month,normalization,Percentage_change,Accumulation
0,2023-01-03,MSFT,243.080002,245.750000,237.399994,239.580002,1,1.000000,NaN,NaN
1,2023-01-04,MSFT,232.279999,232.869995,225.960007,229.100006,1,0.956257,-0.043743,0.956257
2,2023-01-05,MSFT,227.199997,227.550003,221.759995,222.309998,1,0.927916,-0.029638,0.927916
3,2023-01-06,MSFT,223.000000,225.759995,219.350006,224.929993,1,0.938851,0.011785,0.938851
4,2023-01-09,MSFT,226.449997,231.240005,226.410004,227.119995,1,0.947992,0.009736,0.947992
...,...,...,...,...,...,...,...,...,...,...
245,2023-12-22,MSFT,373.679993,375.179993,372.709991,374.579987,12,1.563486,0.002784,1.563486
246,2023-12-26,MSFT,375.000000,376.940002,373.500000,374.660004,12,1.563820,0.000214,1.563820
247,2023-12-27,MSFT,373.690002,375.059998,372.809998,374.070007,12,1.561357,-0.001575,1.561357
248,2023-12-28,MSFT,375.369995,376.459991,374.160004,375.279999,12,1.566408,0.003235,1.566408
249,2023-12-29,MSFT,376.000000,377.160004,373.480011,376.040009,12,1.569580,0.002025,1.569580

In [59]:
Oracle_df=stock_to_frame("ORCL")

[*********************100%%**********************]  1 of 1 completed

C:\Users\manal\AppData\Local\Temp\ipykernel_21188\2502114678.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  volume["stock_id"]=Ticker

In [62]:
Oracle_df[0]

,Date,stock_id,Open,High,Low,Close,month,normalization,Percentage_change,Accumulation
0,2023-01-03,ORCL,82.470001,83.839996,82.260002,83.720001,1,1.000000,NaN,NaN
1,2023-01-04,ORCL,84.199997,85.169998,83.639999,84.480003,1,1.009078,0.009078,1.009078
2,2023-01-05,ORCL,85.000000,85.400002,83.220001,84.309998,1,1.007047,-0.002012,1.007047
3,2023-01-06,ORCL,84.739998,86.339996,83.820000,85.660004,1,1.023173,0.016012,1.023173
4,2023-01-09,ORCL,86.839996,87.589996,86.160004,86.419998,1,1.032250,0.008872,1.032250
...,...,...,...,...,...,...,...,...,...,...
245,2023-12-22,ORCL,105.699997,106.489998,105.459999,106.199997,12,1.268514,0.003212,1.268514
246,2023-12-26,ORCL,106.519997,106.650002,105.339996,106.190002,12,1.268395,-0.000094,1.268395
247,2023-12-27,ORCL,106.320000,106.330002,105.559998,105.940002,12,1.265409,-0.002354,1.265409
248,2023-12-28,ORCL,106.010002,106.610001,105.580002,106.250000,12,1.269111,0.002926,1.269111
249,2023-12-29,ORCL,106.599998,106.919998,104.779999,105.430000,12,1.259317,-0.007718,1.259317