### Install required packages

!pip install yfinance

!pip install pandas-datareader

#### Import dependencies

In [2]:
from pandas_datareader import data
import yfinance
import pandas as pd

In [3]:
yfinance.pdr_override()

In [5]:
Apple_df=data.get_data_yahoo("AAPL",start="2023-01-01", end="2023-12-31")
display(Apple_df.head())
display(Apple_df.tail())

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.374802,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.657639,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.325081,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.899521,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.426559,70790800

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-12-22,195.179993,195.410004,192.970001,193.600006,193.600006,37122800
2023-12-26,193.610001,193.889999,192.830002,193.050003,193.050003,28919300
2023-12-27,192.490005,193.500000,191.089996,193.149994,193.149994,48087700
2023-12-28,194.139999,194.660004,193.169998,193.580002,193.580002,34049900
2023-12-29,193.899994,194.399994,191.729996,192.529999,192.529999,42628800

In [6]:
Apple_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.374802,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.657639,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.325081,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.899521,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.426559,70790800
...,...,...,...,...,...,...
2023-12-22,195.179993,195.410004,192.970001,193.600006,193.600006,37122800
2023-12-26,193.610001,193.889999,192.830002,193.050003,193.050003,28919300
2023-12-27,192.490005,193.500000,191.089996,193.149994,193.149994,48087700
2023-12-28,194.139999,194.660004,193.169998,193.580002,193.580002,34049900
2023-12-29,193.899994,194.399994,191.729996,192.529999,192.529999,42628800

In [8]:
Apple_volume=Apple_df[["Adj Close","Volume"]]
Apple_volume

             Adj Close     Volume
Date
2023-01-03  124.374802  112117500
2023-01-04  125.657639   89113600
2023-01-05  124.325081   80962700
2023-01-06  128.899521   87754700
2023-01-09  129.426559   70790800
...                ...        ...
2023-12-22  193.600006   37122800
2023-12-26  193.050003   28919300
2023-12-27  193.149994   48087700
2023-12-28  193.580002   34049900
2023-12-29  192.529999   42628800

[250 rows x 2 columns]

In [9]:
Apple_df.drop(columns=["Adj Close","Volume"],inplace=True)
Apple_df.head()

                  Open        High         Low       Close
Date
2023-01-03  130.279999  130.899994  124.169998  125.070000
2023-01-04  126.889999  128.660004  125.080002  126.360001
2023-01-05  127.129997  127.769997  124.760002  125.019997
2023-01-06  126.010002  130.289993  124.889999  129.619995
2023-01-09  130.470001  133.410004  129.889999  130.149994

In [11]:
Apple_df["Percentage_change"]=Apple_df["Close"].pct_change()

In [18]:
Apple_df.reset_index(inplace=True)

In [19]:
Apple_df["month"]=Apple_df["Date"].dt.month

In [20]:
Apple_df["normalization"]=Apple_df["Close"]/125.07
Apple_df["stock_id"]="AAPL"

In [24]:
Apple_df=Apple_df[["Date","stock_id","Open","High","Low","Close","month","normalization","Percentage_change"]]

In [25]:
Apple_df

,Date,stock_id,Open,High,Low,Close,month,normalization,Percentage_change
0,2023-01-03,AAPL,130.279999,130.899994,124.169998,125.070000,1,1.000000,NaN
1,2023-01-04,AAPL,126.889999,128.660004,125.080002,126.360001,1,1.010314,0.010314
2,2023-01-05,AAPL,127.129997,127.769997,124.760002,125.019997,1,0.999600,-0.010605
3,2023-01-06,AAPL,126.010002,130.289993,124.889999,129.619995,1,1.036380,0.036794
4,2023-01-09,AAPL,130.470001,133.410004,129.889999,130.149994,1,1.040617,0.004089
...,...,...,...,...,...,...,...,...,...
245,2023-12-22,AAPL,195.179993,195.410004,192.970001,193.600006,12,1.547933,-0.005547
246,2023-12-26,AAPL,193.610001,193.889999,192.830002,193.050003,12,1.543536,-0.002841
247,2023-12-27,AAPL,192.490005,193.500000,191.089996,193.149994,12,1.544335,0.000518
248,2023-12-28,AAPL,194.139999,194.660004,193.169998,193.580002,12,1.547773,0.002226
249,2023-12-29,AAPL,193.899994,194.399994,191.729996,192.529999,12,1.539378,-0.005424

In [7]:
data.get_data_yahoo("GOOGL",start="2023-08-01", end="2023-12-31")

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-08-01,130.779999,132.630005,130.679993,131.550003,131.550003,23166800
2023-08-02,129.449997,130.089996,127.559998,128.380005,128.380005,26273300
2023-08-03,127.970001,129.389999,127.419998,128.449997,128.449997,20089500
2023-08-04,129.279999,131.509995,127.910004,128.110001,128.110001,26130000
2023-08-07,129.160004,131.610001,129.020004,131.529999,131.529999,22746300
...,...,...,...,...,...,...
2023-12-22,140.770004,141.990005,140.710007,141.490005,141.490005,26514600
2023-12-26,141.589996,142.679993,141.190002,141.520004,141.520004,16780300
2023-12-27,141.589996,142.080002,139.889999,140.369995,140.369995,19628600
2023-12-28,140.779999,141.139999,139.750000,140.229996,140.229996,16045700
2023-12-29,139.630005,140.360001,138.779999,139.690002,139.690002,18727200