### Install required packages

!pip install yfinance

!pip install pandas-datareader

#### Import dependencies

In [16]:
from pandas_datareader import data
import yfinance
import pandas as pd

In [17]:
yfinance.pdr_override()

In [18]:
Apple_df=data.get_data_yahoo("AAPL",start="2023-01-01", end="2023-12-31")
display(Apple_df.head())
display(Apple_df.tail())

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.374802,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.657639,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.325081,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.899521,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.426575,70790800

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-12-22,195.179993,195.410004,192.970001,193.600006,193.600006,37122800
2023-12-26,193.610001,193.889999,192.830002,193.050003,193.050003,28919300
2023-12-27,192.490005,193.500000,191.089996,193.149994,193.149994,48087700
2023-12-28,194.139999,194.660004,193.169998,193.580002,193.580002,34049900
2023-12-29,193.899994,194.399994,191.729996,192.529999,192.529999,42628800

In [19]:
Apple_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,124.374802,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.657639,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,124.325081,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.899521,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,129.426575,70790800
...,...,...,...,...,...,...
2023-12-22,195.179993,195.410004,192.970001,193.600006,193.600006,37122800
2023-12-26,193.610001,193.889999,192.830002,193.050003,193.050003,28919300
2023-12-27,192.490005,193.500000,191.089996,193.149994,193.149994,48087700
2023-12-28,194.139999,194.660004,193.169998,193.580002,193.580002,34049900
2023-12-29,193.899994,194.399994,191.729996,192.529999,192.529999,42628800

In [20]:
Apple_volume=Apple_df[["Adj Close","Volume"]]
Apple_volume

             Adj Close     Volume
Date
2023-01-03  124.374802  112117500
2023-01-04  125.657639   89113600
2023-01-05  124.325081   80962700
2023-01-06  128.899521   87754700
2023-01-09  129.426575   70790800
...                ...        ...
2023-12-22  193.600006   37122800
2023-12-26  193.050003   28919300
2023-12-27  193.149994   48087700
2023-12-28  193.580002   34049900
2023-12-29  192.529999   42628800

[250 rows x 2 columns]

In [21]:
Apple_df.drop(columns=["Adj Close","Volume"],inplace=True)
Apple_df.head()

                  Open        High         Low       Close
Date
2023-01-03  130.279999  130.899994  124.169998  125.070000
2023-01-04  126.889999  128.660004  125.080002  126.360001
2023-01-05  127.129997  127.769997  124.760002  125.019997
2023-01-06  126.010002  130.289993  124.889999  129.619995
2023-01-09  130.470001  133.410004  129.889999  130.149994

In [22]:
Apple_df["Percentage_change"]=Apple_df["Close"].pct_change()

In [23]:
Apple_df.reset_index(inplace=True)

In [24]:
Apple_df["month"]=Apple_df["Date"].dt.month

In [25]:
Apple_df["normalization"]=Apple_df["Close"]/125.07
Apple_df["stock_id"]="AAPL"

In [26]:
Apple_df=Apple_df[["Date","stock_id","Open","High","Low","Close","month","normalization","Percentage_change"]]

In [27]:
Apple_df

,Date,stock_id,Open,High,Low,Close,month,normalization,Percentage_change
0,2023-01-03,AAPL,130.279999,130.899994,124.169998,125.070000,1,1.000000,NaN
1,2023-01-04,AAPL,126.889999,128.660004,125.080002,126.360001,1,1.010314,0.010314
2,2023-01-05,AAPL,127.129997,127.769997,124.760002,125.019997,1,0.999600,-0.010605
3,2023-01-06,AAPL,126.010002,130.289993,124.889999,129.619995,1,1.036380,0.036794
4,2023-01-09,AAPL,130.470001,133.410004,129.889999,130.149994,1,1.040617,0.004089
...,...,...,...,...,...,...,...,...,...
245,2023-12-22,AAPL,195.179993,195.410004,192.970001,193.600006,12,1.547933,-0.005547
246,2023-12-26,AAPL,193.610001,193.889999,192.830002,193.050003,12,1.543536,-0.002841
247,2023-12-27,AAPL,192.490005,193.500000,191.089996,193.149994,12,1.544335,0.000518
248,2023-12-28,AAPL,194.139999,194.660004,193.169998,193.580002,12,1.547773,0.002226
249,2023-12-29,AAPL,193.899994,194.399994,191.729996,192.529999,12,1.539378,-0.005424

In [41]:
Google_df = data.get_data_yahoo("GOOG",start="2023-08-01", end="2023-12-31")
display(Google_df.head())
display(Google_df.tail())

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-08-01,130.854996,132.919998,130.750000,131.889999,131.889999,22154300
2023-08-02,129.839996,130.419998,127.849998,128.639999,128.639999,22705800
2023-08-03,128.369995,129.770004,127.775002,128.770004,128.770004,15018100
2023-08-04,129.600006,131.929993,128.315002,128.539993,128.539993,20509500
2023-08-07,129.509995,132.059998,129.429993,131.940002,131.940002,17621000

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-12-22,142.130005,143.250000,142.054993,142.720001,142.720001,18494700
2023-12-26,142.979996,143.945007,142.500000,142.820007,142.820007,11170100
2023-12-27,142.830002,143.320007,141.050995,141.440002,141.440002,17288400
2023-12-28,141.850006,142.270004,140.828003,141.279999,141.279999,12192500
2023-12-29,140.679993,141.434998,139.899994,140.929993,140.929993,14872700

In [42]:
Google_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-08-01,130.854996,132.919998,130.750000,131.889999,131.889999,22154300
2023-08-02,129.839996,130.419998,127.849998,128.639999,128.639999,22705800
2023-08-03,128.369995,129.770004,127.775002,128.770004,128.770004,15018100
2023-08-04,129.600006,131.929993,128.315002,128.539993,128.539993,20509500
2023-08-07,129.509995,132.059998,129.429993,131.940002,131.940002,17621000
...,...,...,...,...,...,...
2023-12-22,142.130005,143.250000,142.054993,142.720001,142.720001,18494700
2023-12-26,142.979996,143.945007,142.500000,142.820007,142.820007,11170100
2023-12-27,142.830002,143.320007,141.050995,141.440002,141.440002,17288400
2023-12-28,141.850006,142.270004,140.828003,141.279999,141.279999,12192500
2023-12-29,140.679993,141.434998,139.899994,140.929993,140.929993,14872700

In [43]:
Google_volume=Google_df[["Adj Close","Volume"]]
Google_volume

             Adj Close    Volume
Date
2023-08-01  131.889999  22154300
2023-08-02  128.639999  22705800
2023-08-03  128.770004  15018100
2023-08-04  128.539993  20509500
2023-08-07  131.940002  17621000
...                ...       ...
2023-12-22  142.720001  18494700
2023-12-26  142.820007  11170100
2023-12-27  141.440002  17288400
2023-12-28  141.279999  12192500
2023-12-29  140.929993  14872700

[106 rows x 2 columns]

In [44]:
Google_df.drop(columns=["Adj Close","Volume"],inplace=True)
Google_df.head()

                  Open        High         Low       Close
Date
2023-08-01  130.854996  132.919998  130.750000  131.889999
2023-08-02  129.839996  130.419998  127.849998  128.639999
2023-08-03  128.369995  129.770004  127.775002  128.770004
2023-08-04  129.600006  131.929993  128.315002  128.539993
2023-08-07  129.509995  132.059998  129.429993  131.940002

In [51]:
Google_df["Percentage_change"]=Google_df["Close"].pct_change()

In [52]:
Google_df.reset_index(inplace=True)

In [53]:
Google_df["month"]=Google_df["Date"].dt.month

In [54]:
Google_df["normalization"]=Google_df["Close"]/125.07
Google_df["stock_id"]="GOOG"

In [55]:
Google_df=Google_df[["Date","stock_id","Open","High","Low","Close","month","normalization","Percentage_change"]]

In [56]:
Google_df

,Date,stock_id,Open,High,Low,Close,month,normalization,Percentage_change
0,2023-08-01,GOOG,130.854996,132.919998,130.750000,131.889999,8,1.054529,NaN
1,2023-08-02,GOOG,129.839996,130.419998,127.849998,128.639999,8,1.028544,-0.024642
2,2023-08-03,GOOG,128.369995,129.770004,127.775002,128.770004,8,1.029583,0.001011
3,2023-08-04,GOOG,129.600006,131.929993,128.315002,128.539993,8,1.027744,-0.001786
4,2023-08-07,GOOG,129.509995,132.059998,129.429993,131.940002,8,1.054929,0.026451
...,...,...,...,...,...,...,...,...,...
101,2023-12-22,GOOG,142.130005,143.250000,142.054993,142.720001,12,1.141121,0.006488
102,2023-12-26,GOOG,142.979996,143.945007,142.500000,142.820007,12,1.141921,0.000701
103,2023-12-27,GOOG,142.830002,143.320007,141.050995,141.440002,12,1.130887,-0.009663
104,2023-12-28,GOOG,141.850006,142.270004,140.828003,141.279999,12,1.129607,-0.001131
105,2023-12-29,GOOG,140.679993,141.434998,139.899994,140.929993,12,1.126809,-0.002477

In [57]:
Intel_df=data.get_data_yahoo("INTC",start="2023-01-01", end="2023-12-31")
display(Intel_df.head())
display(Intel_df.tail())

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-01-03  27.049999  27.070000  26.370001  26.730000  26.120348  31308000
2023-01-04  27.410000  27.920000  27.160000  27.680000  27.048679  37665200
2023-01-05  27.440001  27.780001  27.379999  27.559999  26.931417  33552600
2023-01-06  27.930000  28.830000  27.379999  28.730000  28.074730  31788600
2023-01-09  28.840000  29.870001  28.840000  29.309999  28.641500  37493200

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-12-22  47.250000  48.160000  47.200001  48.000000  48.000000  30053700
2023-12-26  48.919998  50.520000  48.709999  50.500000  50.500000  60287400
2023-12-27  50.630001  51.279999  50.189999  50.759998  50.759998  52148000
2023-12-28  50.810001  50.869999  50.160000  50.389999  50.389999  27705200
2023-12-29  50.299999  50.570000  49.770000  50.250000  50.250000  29266500

In [58]:
Intel_df

                 Open       High        Low      Close  Adj Close    Volume
Date
2023-01-03  27.049999  27.070000  26.370001  26.730000  26.120348  31308000
2023-01-04  27.410000  27.920000  27.160000  27.680000  27.048679  37665200
2023-01-05  27.440001  27.780001  27.379999  27.559999  26.931417  33552600
2023-01-06  27.930000  28.830000  27.379999  28.730000  28.074730  31788600
2023-01-09  28.840000  29.870001  28.840000  29.309999  28.641500  37493200
...               ...        ...        ...        ...        ...       ...
2023-12-22  47.250000  48.160000  47.200001  48.000000  48.000000  30053700
2023-12-26  48.919998  50.520000  48.709999  50.500000  50.500000  60287400
2023-12-27  50.630001  51.279999  50.189999  50.759998  50.759998  52148000
2023-12-28  50.810001  50.869999  50.160000  50.389999  50.389999  27705200
2023-12-29  50.299999  50.570000  49.770000  50.250000  50.250000  29266500

[250 rows x 6 columns]

In [59]:
Intel_volume=Intel_df[["Adj Close","Volume"]]
Intel_volume

            Adj Close    Volume
Date
2023-01-03  26.120348  31308000
2023-01-04  27.048679  37665200
2023-01-05  26.931417  33552600
2023-01-06  28.074730  31788600
2023-01-09  28.641500  37493200
...               ...       ...
2023-12-22  48.000000  30053700
2023-12-26  50.500000  60287400
2023-12-27  50.759998  52148000
2023-12-28  50.389999  27705200
2023-12-29  50.250000  29266500

[250 rows x 2 columns]

In [60]:
Intel_df.drop(columns=["Adj Close","Volume"],inplace=True)
Intel_df.head()

                 Open       High        Low      Close
Date
2023-01-03  27.049999  27.070000  26.370001  26.730000
2023-01-04  27.410000  27.920000  27.160000  27.680000
2023-01-05  27.440001  27.780001  27.379999  27.559999
2023-01-06  27.930000  28.830000  27.379999  28.730000
2023-01-09  28.840000  29.870001  28.840000  29.309999

In [61]:
Intel_df["Percentage_change"]=Intel_df["Close"].pct_change()

In [62]:
Intel_df.reset_index(inplace=True)

In [63]:
Intel_df["month"]=Intel_df["Date"].dt.month

In [64]:
Intel_df["normalization"]=Intel_df["Close"]/125.07
Intel_df["stock_id"]="INTC"

In [65]:
Intel_df=Intel_df[["Date","stock_id","Open","High","Low","Close","month","normalization","Percentage_change"]]

In [66]:
Intel_df

,Date,stock_id,Open,High,Low,Close,month,normalization,Percentage_change
0,2023-01-03,INTC,27.049999,27.070000,26.370001,26.730000,1,0.213720,NaN
1,2023-01-04,INTC,27.410000,27.920000,27.160000,27.680000,1,0.221316,0.035541
2,2023-01-05,INTC,27.440001,27.780001,27.379999,27.559999,1,0.220357,-0.004335
3,2023-01-06,INTC,27.930000,28.830000,27.379999,28.730000,1,0.229711,0.042453
4,2023-01-09,INTC,28.840000,29.870001,28.840000,29.309999,1,0.234349,0.020188
...,...,...,...,...,...,...,...,...,...
245,2023-12-22,INTC,47.250000,48.160000,47.200001,48.000000,12,0.383785,0.019541
246,2023-12-26,INTC,48.919998,50.520000,48.709999,50.500000,12,0.403774,0.052083
247,2023-12-27,INTC,50.630001,51.279999,50.189999,50.759998,12,0.405853,0.005148
248,2023-12-28,INTC,50.810001,50.869999,50.160000,50.389999,12,0.402894,-0.007289
249,2023-12-29,INTC,50.299999,50.570000,49.770000,50.250000,12,0.401775,-0.002778

In [67]:
Microsoft_df=data.get_data_yahoo("MSFT",start="2023-01-01", end="2023-12-31")
display(Microsoft_df.head())
display(Microsoft_df.tail())

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,243.080002,245.750000,237.399994,239.580002,237.474350,25740000
2023-01-04,232.279999,232.869995,225.960007,229.100006,227.086456,50623400
2023-01-05,227.199997,227.550003,221.759995,222.309998,220.356110,39585600
2023-01-06,223.000000,225.759995,219.350006,224.929993,222.953079,43613600
2023-01-09,226.449997,231.240005,226.410004,227.119995,225.123840,27369800

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-12-22,373.679993,375.179993,372.709991,374.579987,374.579987,17091100
2023-12-26,375.000000,376.940002,373.500000,374.660004,374.660004,12673100
2023-12-27,373.690002,375.059998,372.809998,374.070007,374.070007,14905400
2023-12-28,375.369995,376.459991,374.160004,375.279999,375.279999,14327000
2023-12-29,376.000000,377.160004,373.480011,376.040009,376.040009,18723000

In [68]:
Microsoft_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,243.080002,245.750000,237.399994,239.580002,237.474350,25740000
2023-01-04,232.279999,232.869995,225.960007,229.100006,227.086456,50623400
2023-01-05,227.199997,227.550003,221.759995,222.309998,220.356110,39585600
2023-01-06,223.000000,225.759995,219.350006,224.929993,222.953079,43613600
2023-01-09,226.449997,231.240005,226.410004,227.119995,225.123840,27369800
...,...,...,...,...,...,...
2023-12-22,373.679993,375.179993,372.709991,374.579987,374.579987,17091100
2023-12-26,375.000000,376.940002,373.500000,374.660004,374.660004,12673100
2023-12-27,373.690002,375.059998,372.809998,374.070007,374.070007,14905400
2023-12-28,375.369995,376.459991,374.160004,375.279999,375.279999,14327000
2023-12-29,376.000000,377.160004,373.480011,376.040009,376.040009,18723000

In [70]:
Microsoft_volume=Microsoft_df[["Adj Close","Volume"]]
Microsoft_volume

             Adj Close    Volume
Date
2023-01-03  237.474350  25740000
2023-01-04  227.086456  50623400
2023-01-05  220.356110  39585600
2023-01-06  222.953079  43613600
2023-01-09  225.123840  27369800
...                ...       ...
2023-12-22  374.579987  17091100
2023-12-26  374.660004  12673100
2023-12-27  374.070007  14905400
2023-12-28  375.279999  14327000
2023-12-29  376.040009  18723000

[250 rows x 2 columns]

In [71]:
Microsoft_df.drop(columns=["Adj Close","Volume"],inplace=True)
Microsoft_df.head()

                  Open        High         Low       Close
Date
2023-01-03  243.080002  245.750000  237.399994  239.580002
2023-01-04  232.279999  232.869995  225.960007  229.100006
2023-01-05  227.199997  227.550003  221.759995  222.309998
2023-01-06  223.000000  225.759995  219.350006  224.929993
2023-01-09  226.449997  231.240005  226.410004  227.119995

In [72]:
Microsoft_df["Percentage_change"]=Microsoft_df["Close"].pct_change()

In [73]:
Microsoft_df.reset_index(inplace=True)

In [74]:
Microsoft_df["month"]=Microsoft_df["Date"].dt.month

In [75]:
Microsoft_df["normalization"]=Microsoft_df["Close"]/125.07
Microsoft_df["stock_id"]="MSFT"

In [76]:
Microsoft_df=Microsoft_df[["Date","stock_id","Open","High","Low","Close","month","normalization","Percentage_change"]]

In [77]:
Microsoft_df

,Date,stock_id,Open,High,Low,Close,month,normalization,Percentage_change
0,2023-01-03,MSFT,243.080002,245.750000,237.399994,239.580002,1,1.915567,NaN
1,2023-01-04,MSFT,232.279999,232.869995,225.960007,229.100006,1,1.831774,-0.043743
2,2023-01-05,MSFT,227.199997,227.550003,221.759995,222.309998,1,1.777485,-0.029638
3,2023-01-06,MSFT,223.000000,225.759995,219.350006,224.929993,1,1.798433,0.011785
4,2023-01-09,MSFT,226.449997,231.240005,226.410004,227.119995,1,1.815943,0.009736
...,...,...,...,...,...,...,...,...,...
245,2023-12-22,MSFT,373.679993,375.179993,372.709991,374.579987,12,2.994963,0.002784
246,2023-12-26,MSFT,375.000000,376.940002,373.500000,374.660004,12,2.995602,0.000214
247,2023-12-27,MSFT,373.690002,375.059998,372.809998,374.070007,12,2.990885,-0.001575
248,2023-12-28,MSFT,375.369995,376.459991,374.160004,375.279999,12,3.000560,0.003235
249,2023-12-29,MSFT,376.000000,377.160004,373.480011,376.040009,12,3.006636,0.002025

In [78]:
Oracle_df=data.get_data_yahoo("ORCL",start="2023-01-01", end="2023-12-31")
display(Oracle_df.head())
display(Oracle_df.tail())

[*********************100%%**********************]  1 of 1 completed

                 Open       High        Low      Close  Adj Close   Volume
Date
2023-01-03  82.470001  83.839996  82.260002  83.720001  82.467194  8997500
2023-01-04  84.199997  85.169998  83.639999  84.480003  83.215813  7836200
2023-01-05  85.000000  85.400002  83.220001  84.309998  83.048347  7643800
2023-01-06  84.739998  86.339996  83.820000  85.660004  84.378159  8641600
2023-01-09  86.839996  87.589996  86.160004  86.419998  85.445976  7519700

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-12-22,105.699997,106.489998,105.459999,106.199997,106.199997,5678300
2023-12-26,106.519997,106.650002,105.339996,106.190002,106.190002,5767400
2023-12-27,106.320000,106.330002,105.559998,105.940002,105.940002,5627400
2023-12-28,106.010002,106.610001,105.580002,106.250000,106.250000,5689100
2023-12-29,106.599998,106.919998,104.779999,105.430000,105.430000,6897200

In [79]:
Oracle_df

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,82.470001,83.839996,82.260002,83.720001,82.467194,8997500
2023-01-04,84.199997,85.169998,83.639999,84.480003,83.215813,7836200
2023-01-05,85.000000,85.400002,83.220001,84.309998,83.048347,7643800
2023-01-06,84.739998,86.339996,83.820000,85.660004,84.378159,8641600
2023-01-09,86.839996,87.589996,86.160004,86.419998,85.445976,7519700
...,...,...,...,...,...,...
2023-12-22,105.699997,106.489998,105.459999,106.199997,106.199997,5678300
2023-12-26,106.519997,106.650002,105.339996,106.190002,106.190002,5767400
2023-12-27,106.320000,106.330002,105.559998,105.940002,105.940002,5627400
2023-12-28,106.010002,106.610001,105.580002,106.250000,106.250000,5689100
2023-12-29,106.599998,106.919998,104.779999,105.430000,105.430000,6897200

In [81]:
Oracle_volume=Oracle_df[["Adj Close","Volume"]]
Oracle_volume

             Adj Close   Volume
Date
2023-01-03   82.467194  8997500
2023-01-04   83.215813  7836200
2023-01-05   83.048347  7643800
2023-01-06   84.378159  8641600
2023-01-09   85.445976  7519700
...                ...      ...
2023-12-22  106.199997  5678300
2023-12-26  106.190002  5767400
2023-12-27  105.940002  5627400
2023-12-28  106.250000  5689100
2023-12-29  105.430000  6897200

[250 rows x 2 columns]

In [82]:
Oracle_df.drop(columns=["Adj Close","Volume"],inplace=True)
Oracle_df.head()

                 Open       High        Low      Close
Date
2023-01-03  82.470001  83.839996  82.260002  83.720001
2023-01-04  84.199997  85.169998  83.639999  84.480003
2023-01-05  85.000000  85.400002  83.220001  84.309998
2023-01-06  84.739998  86.339996  83.820000  85.660004
2023-01-09  86.839996  87.589996  86.160004  86.419998

In [83]:
Oracle_df["Percentage_change"]=Oracle_df["Close"].pct_change()

In [84]:
Oracle_df.reset_index(inplace=True)

In [85]:
Oracle_df["month"]=Oracle_df["Date"].dt.month

In [86]:
Oracle_df["normalization"]=Oracle_df["Close"]/125.07
Oracle_df["stock_id"]="ORCL"

In [87]:
Oracle_df=Oracle_df[["Date","stock_id","Open","High","Low","Close","month","normalization","Percentage_change"]]

In [88]:
Oracle_df

,Date,stock_id,Open,High,Low,Close,month,normalization,Percentage_change
0,2023-01-03,ORCL,82.470001,83.839996,82.260002,83.720001,1,0.669385,NaN
1,2023-01-04,ORCL,84.199997,85.169998,83.639999,84.480003,1,0.675462,0.009078
2,2023-01-05,ORCL,85.000000,85.400002,83.220001,84.309998,1,0.674102,-0.002012
3,2023-01-06,ORCL,84.739998,86.339996,83.820000,85.660004,1,0.684896,0.016012
4,2023-01-09,ORCL,86.839996,87.589996,86.160004,86.419998,1,0.690973,0.008872
...,...,...,...,...,...,...,...,...,...
245,2023-12-22,ORCL,105.699997,106.489998,105.459999,106.199997,12,0.849124,0.003212
246,2023-12-26,ORCL,106.519997,106.650002,105.339996,106.190002,12,0.849045,-0.000094
247,2023-12-27,ORCL,106.320000,106.330002,105.559998,105.940002,12,0.847046,-0.002354
248,2023-12-28,ORCL,106.010002,106.610001,105.580002,106.250000,12,0.849524,0.002926
249,2023-12-29,ORCL,106.599998,106.919998,104.779999,105.430000,12,0.842968,-0.007718